body {
	margin: 0;
	padding: 0;
	font-weight: normal;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

.container {
	line-height: 1;
	background: url('https://ak.picdn.net/shutterstock/videos/1023138790/thumb/12.jpg');
	margin: 0;
	width: 100%;
	height: 100%;
}

main {
	background-image: url('https://previews.123rf.com/images/gatordawg/gatordawg1202/gatordawg120200030/12474873-an-old-stained-aged-and-damaged-page-of-parchment-with-dripping-and-splattered-blood-stains-across-t.jpg');
	background-size: 100%;
	color: #1e1e1e;
}

.icons-social a {
	color: #1e1e1e;
}

.intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 5em;
	font-weight: 600;
	margin-top: 50px;
}

.typewriter {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	animation: typing 3.5s steps(40, end),
		blink-caret 0.75s step-end infinite;
}

.tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
	font-size: 3em;
}

.profile {
	border-radius: 50%;
}
.pulse-button-container {
	margin-top: '40px';
	padding: '10px';
}
.pulse-button {
	position: relative;
	width: 70px;
	height: 70px;
	border: none;
	box-shadow: 0 0 0 0 rgba(80, 76, 76, 0.74);
	border-radius: 50%;
	background-color: #3b3805;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
	animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover {
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	animation: none;
}

@-webkit-keyframes pulse {
	to {
		box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
	}
}
@-moz-keyframes pulse {
	to {
		box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
	}
}
@-ms-keyframes pulse {
	to {
		box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
	}
}
@keyframes pulse {
	to {
		box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
	}
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

@media screen and (min-width: 300px) and (max-width: 1300px) {
	.profile {
		width: 300px;
	}
	.intro {
		font-size: 3.8em;
	}
}
